Package: kconfig-frontends
Version: 3.12.0.0-1
Architecture: amd64
Maintainer: Andrew 'Necromant' Andrianov <andrew@ncrmnt.org>
Installed-Size: 488
Depends: libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libncursesw5 (>= 5.6+20070908), libqt4-network (>= 4:4.5.3), libqt4-qt3support (>= 4:4.5.3), libqt4-sql (>= 4:4.5.3), libqtcore4 (>= 4:4.7.0~beta1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.1.1), libtinfo5
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
