Source: kconfig-frontends
Section: utils
Priority: optional
Maintainer: Andrew Andrianov <andrew@ncrmnt.org>
Build-Depends: debhelper (>= 9), autotools-dev, libncurses5-dev, libncursesw5-dev
Standards-Version: 3.9.5
Homepage: https://github.com/nekromant/kconfig-frontends-debian
#Vcs-Git: git://anonscm.debian.org/collab-maint/kconfig-frontends.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/kconfig-frontends.git;a=summary

Package: kconfig-frontends
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A set of kconfig tools from linux kernel 
 kconfig frontends that come in a debian package
